
<%provide(:title,'Sign In') %>
 
<h1>Sign In</h1>
<div class="row">
	<div class="span6 offset 3">
		<div class="hero-unit">
					<%= render 'shared/error_messages'%> 
					
			<%= form_for @user, url: {controller:"access",action: "create"} do |f| %>
				<%=f.label :name%>
				<%=f.text_field :name%>
				<%=f.label :email%>
				<%=f.text_field :email%>
				<%=f.label :password%>
				<%=f.password_field :password%>
				<%=f.label :password_confirmation,"Confirmation"%>
				<%=f.password_field :password_confirmation%><br>
				<%=f.submit "Submit",class:"btn btn-large btn-primary"%>
			<% end %> 
		</div>
	</div>
</div>
