<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%=link_to "Tweet with Us",'#',id:"logo"%>
			<nav>
				<ul class="nav pull-right">
					<li><%=link_to "Home",   root_path %></li>
					<li><%=link_to "Help",   help_path %></li>
					
					 <!-- Check if signed in-->
					<%if signed_in?%>-->
					<li><%=link_to "Users",""%></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account<b class="caret"></b>
						</a>
							<ul class="dropdown-menu" >
								<li><%=link_to "Profile",user_path(current_user)%></li>
								<li><%=link_to "Settings"," " %></li>
								<li class="divider"></li>
								<li><%=link_to "Sign Out",signout_path,method: "delete" %></li>
							</ul>
					</li>
					 <!-- Check if signed out-->
					<%else%>
						<li><%=link_to "Sign In",signin_path %></li>
					<%end%>
				</ul>
			</nav>
			</div>		
		</div>
	</header>
<div class="container">
	<%flash.each do |key,value|%>
		<div class='alert alert-<%=key%>'>
			<%=value%>
		</div>
	<%end%>
	<%= yield %>
	<%=render partial: "layouts/footer"%>

</div>
<%=debug(params)if Rails.env.development?%>
</body>
</html>
